# venvs
.venv/
venv/

# caches & junk
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# local models & offload
MolmoE-1B-0924-NF4/
models/
offload/
.offload/

# offload folder in molmo-service
molmo-service/offload/
molmo-service/__pycache__

# yolo weights
yolo-service/yolo11n.pt
yolo-service/__pycache__

# local image folder
images/

# HF caches anywhere
hf_cache/
.huggingface/
.cache/
**/.cache/
**/huggingface/
**/modules/transformers_modules/

